
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<!-- <link rel="icon" href="../../favicon.ico"/> -->

<title>Dashboard Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/css/chosen.min.css"
	th:href="@{css/chosen.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../static/css/custom/template.css"
	th:href="@{css/custom/template.css}" />

</head>

<body>
	<div th:replace="menu :: menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="facility_management :: facility_management"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<form class="form-horizontal" th:action="@{/submitOrgUnitType}"
					th:object="${orgUnitType}" method="post" id="addOrgUnitTypeFormID">
					<div class="form-group">
						<label for="OrganisationUnitType" class="control-label col-xs-2">Facility
							Type</label>
						<div class="col-xs-10">
							<input type="text" th:field="*{typeName}" class="form-control"
								name="orgUnitTypeName" placeholder="Facility Type Name" />
							<!-- <select id="organisationUnitLevel"
						th:field="*{organisationUnitLevel.level}"
						name="orgUnitLevelDropdown">
						<option th:each="orgUnitLevel, iterationStatus : ${orgUnitLevels}"
							th:value="${orgUnitLevel.level}" th:text="${orgUnitLevel.name}"></option>
					</select> -->
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="control-label col-xs-2">Description</label>
						<div class="col-xs-10">
							<input type="text" th:field="*{description}" class="form-control"
								name="orgUnitDescription"
								placeholder="Facility Type Description" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"
		th:src="@{js/jquery-1.11.3.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/chosen.jquery.min.js"
		th:src="@{js/chosen.jquery.min.js}"></script>
	<script type="text/javascript" src="../static/js/mfl-util.js"
		th:src="@{js/mfl-util.js}"></script>

	<script type="text/javascript"
		src="../static/js/custom/organisationUnit.js"
		th:src="@{js/custom/organisationUnit.js}"></script>
</body>
</html>
