<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="facility_management">
		<div class="col-sm-2 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/manageOrgUnits">Facility</a></li>
				<li><a href="/levelmanagement">OU Level</a></li>
				<li><a href="/servicemanagement">Facility Services</a></li>
				<li><a href="/orgunittypemanagement">Facility Type</a></li>
				<li><a href="/facilitysearch">Facility Search</a></li>
			</ul>
		</div>
	</div>
</body>
</html>