<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta charset="utf-8"/>
<!-- Mobile-friendly viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>MFL</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js" th:href="@{js/jquery-1.11.3.min.js}" ></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:href="@{js/bootstrap.min.js}" ></script>
</head>
<body ng-app="mfl">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html">MFL</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Users</a></li>
							<li><a href="#">Page 1-2</a></li>
							<li><a href="#">Page 1-3</a></li>
						</ul></li>
					<li><a href="/orgunits.html">Organisation Units</a></li>
					<li><a href="#">Reports</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1>Add Organisation Unit</h1>
		<div ng-controller="home">
			<p>The name is {{firstName}}</p>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/angular.min.js" th:href="@{js/angular.min.js}"></script>
	<script type="text/javascript" src="../static/js/app.js" th:href="@{js/app.js}"></script>
</body>
</html>